<div class="container">
  <div class="sixteen columns">
    <h1>Investig8.net Registration</h1>
    <%= form_for @researcher do |f| %>

      <section>
        <div>
          <label>Name<span class="import-stuff">*</span></label>
          <%= f.text_field :name %>

        </div>

        <div>
          <label>Email (you will receive questions here)<span class="import-stuff">*</span></label>
          <%= f.text_field :email %>

        </div>
        <div>
          <label>Mobile Phone:<span class="import-stuff">*</span></label>
          <%= f.text_field :mobile_number %>
        </div>
        <div>
                                          Or
          <label>Land Phone:<span class="import-stuff">*</span></label>
          <%= f.text_field :phone_number %>

        </div>
      </section><!-- -->
      <hr class=""/>
      <%= f.submit %>

      <% end %>

    </div>


  </div><!-- container -->